<div class="bell-wrapper">
  <!-- Bấm vào chuông thì đổi trạng thái đóng/mở -->
  <button class="bell-button" (click)="togglePanel()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="bell-icon"
      style="width: 24px; height: 24px"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0"
      />
    </svg>
    <!-- Dùng async pipe để lấy số lượng pending, nếu lớn hơn 0 mới hiện chấm đỏ -->
    @if ((store.pendingCount$ | async)! > 0) {
      <span class="badge">{{ store.pendingCount$ | async }}</span>
    }
  </button>

  <!-- Nếu isPanelOpen = true thì mới nhét cái Component Panel vào DOM -->
  @if (isPanelOpen) {
    <!-- Cái Panel này sẽ được style absolute để đè lên UI -->
    <app-reminder-panel class="panel-dropdown"></app-reminder-panel>
  }
</div>
